@model ShiftRight.Heim.Controllers.ExteriorViewModel

@{
    ViewBag.Title = "Exterior Design";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu{
	<ul class="menu steps">
		<li class="selected"><a class="step-exterior" href="/Design/Exterior" title="Exterior">Exterior</a></li>
		<li><a class="step-furniture" href="/Design/Furniture" title="Furniture">Furniture</a></li>
		<li><a class="step-wallpaper" href="/Design/Wallpaper" title="Wallpaper">Wallpaper</a></li>
		<li><a class="step-electricity" href="/Design/Electricity" title="Electricity">Electricity</a></li>
	</ul>
}

@section actions{
	<a href="#info" class="info">@Model.ProjectName</a>
}

<div class="design exterior">
	<div class="main">

		<div id="designer">
			<p>Initializing awesomeness</p>
		</div>
	</div>

	<div class="aside toolboxes">

		<div class="toolbox tiles">
			<span class="title">Roof tile</span>
			@{
				var roofTiles = Model.Assets.Where(g => g.Key == ShiftRight.Heim.Models.AssetType.RoofTile).FirstOrDefault();
			}

			@if(roofTiles != null){
				@Html.Partial("_Toolbox", roofTiles)
			}
		</div>

		@foreach(var fl in Model.Floors) {
			
			<div class="toolbox tiles">
				<span class="title">Roof tile: FL @fl.FloorNumber</span>
				@Html.Partial("_Toolbox", roofTiles)
			</div>
		}

	</div>

	<div class="break"></div>
</div>