
@{
	ViewBag.Title = "Furniture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu{
	<ul class="menu steps">
		<li><a class="step-exterior" href="Exterior" title="/Design/Exterior">Exterior</a></li>
		<li class="selected"><a class="step-furniture" href="/Design/Furniture" title="Furniture">Furniture</a></li>
		<li><a class="step-painting" href="/Design/Painting" title="Painting">Painting</a></li>
		<li><a class="step-electricity" href="/Design/Electricity" title="Electricity">Electricity</a></li>
	</ul>
}

@section actions{
}
