
@{
	ViewBag.Title = "Painting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu{
	<ul class="menu steps">
		<li><a class="step-exterior" href="Exterior" title="Exterior">Exterior</a></li>
		<li><a class="step-furniture" href="Furniture" title="Furniture">Furniture</a></li>
		<li class="selected"><a class="step-painting" href="Painting" title="Painting">Painting</a></li>
		<li><a class="step-electricity" href="Electricity" title="Electricity">Electricity</a></li>
	</ul>
}

@section actions{
}
