@model ShiftRight.Heim.Models.Project
@{
    ViewBag.Title = "Delete - " + Model.Name;
}

@section actions{
	@Html.ActionLink("Back to List", "Index")
}

<h3>Are you sure you want to delete this project?</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" />
    </p>
}